<h1>Las Palmas de Gran Canaria</h1>
<h2>El mejor clima del mundo</h2>

<p>
  Las Palmas de Gran Canaria es una ciudad y municipio español, capital de la isla de Gran Canaria, de la provincia de Las Palmas y de la comunidad autónoma de Canarias (capitalidad compartida con Santa Cruz de Tenerife). Con una población de 381 223 habitantes en 2020,5​ es la ciudad más poblada de Canarias y la novena de toda España. 
</p>
  
<p>
  Los orígenes fundacionales de la ciudad de Las Palmas de Gran Canaria se remontan al año 1478, concretamente al 24 de junio (día de San Juan), momento en el cual Juan Rejón, capitán de la Corona de Castilla, inició la conquista de la isla de Gran Canaria. Esta comenzó en la desembocadura del barranco de Guiniguada, donde asentó el El Real de Las Palmas y hoy es el barrio de Vegueta. 
</p>
<p>
  En Las Palmas de Gran Canaria residen 378 517 personas (INE, 2018), una población que crece cada mañana por la afluencia de quienes se desplazan desde núcleos urbanos próximos (tales como Telde, Arucas, Gáldar, etc.), para desarrollar sus labores profesionales en la capital insular. Está integrada en el área metropolitana de Las Palmas de Gran Canaria que es la décima de España, con 616 903 habitantes. 
</p>